/*
	common.css
*/

/*~~~~~~~~~~~~~~~~~
Page Layout
~~~~~~~~~~~~~~~~~*/
html,body,div.view-port{
	height:100%;
	position:relative;
	overflow-y:hidden;
}

div.main-content{
	height:100%;
	padding:0;
}

/*~~~~~~~~~~~~~~~~~
Header
~~~~~~~~~~~~~~~~~*/
nav.navbar-default{
	margin-bottom:0;
	border:none;
	border-radius:0;
}

/*~~~~~~~~~~~~~~~~~
Sidebar Navigation
~~~~~~~~~~~~~~~~~*/
div.sidebar{
	height:100%;
}

ul.sidebar-nav{
	list-style-type:none;
	padding:0;
}

ul.sidebar-nav > li{
	margin-top:2em;
}

ul.sidebar-nav > li > a > span{
	display:inline-block;
	width:85%;
	vertical-align:middle;
}

/*~~~~~~~~~~~~~~~~~~~~~~
Messages Page Navigation
~~~~~~~~~~~~~~~~~~~~~~~*/
ul.messages{
	padding:0.5em 0;
}

div.messages{
	padding:0 0.5em;
}

.messages div.shift{
	font-size:2em;
	position:absolute;
	width:1em;
	height:1em;
}

.messages div.shift i{
	display:inline-block;
	color:white;
	background:black;
	padding:0.5em;
	border-radius:100%;
	vertical-align:middle;
}

.messages div.shift.up{
	top:-0.5em;
}

.messages div.shift.down{
	bottom:0.5em;
}

.messages div.shift.up, .messages div.shift.down{
	width:100%;
	text-align:center;
}

.messages div.shift.left{
	left:-0.5em;
}

.messages div.shift.right{
	right:0.5em;
}

.messages div.shift.left, .messages div.shift.right{
	height:100%;
	vertical-align:middle;
}

/*~~~~~~~~~~~~~~~~~
Tables
~~~~~~~~~~~~~~~~~*/
table.hover tr{
	cursor:pointer;
}

.icon-category img
{
	max-width: 150px;
	max-height: 150px;
	padding: 0;
}