@charset "utf-8";
*{    
    outline:none;
}
/* Bootstrap overrides */
/*
select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="tel"], 
input[type="color"], 
input[type="search"], 
.uneditable-input {
    height: auto;
    width:80%;
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
    border:none;
}
*/
select { height: 28px; }

input.dateYear, input.dtYear{
    width:13%;
}
select.dateMonth{
    width:50%;
    margin-left:2% !important;
}
select.dtMonth{
    width:21.5%;
    margin-left:2% !important;
}
select.dateDay, select.dtDay{
    width:12.5%;
    margin-left:2% !important;
}
select.dtHour, select.dtMin, select.dtAMPM{
    width:8%;
}
select.dtHour{
    margin-left:2% !important;
}

/* Form, confirmation display page */
/*
div.page-border,
div.pageQuestionsForm {
    *zoom: 1;
    margin: 0;
    padding: 0px;
    background-color: #F3F3F3;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
    box-shadow:0 0 0.5em rgba(0,0,0,0.5);
    max-width:100%;
    width:auto;
    
}
*/

div.page-border h3.page-label{
    margin:0;
}

/* Clearfix, for floats */
div.page-border:before,
div.pageQuestionsForm:before,
div.page-border:after,
div.pageQuestionsForm:after {
    display: table;
    content: "";
    line-height: 0;
}
div.page-border:after,
div.pageQuestionsForm:after {
    clear: both;
}

/* Checkboxes */
div.page-border div.answerCheckbox,
div#reviewContent div.answerCheckbox { margin-right: 5px; }

/* Template Content */
div.page-border div.templateContent,
div#reviewContent div.templateContent { 
    overflow: visible !important; 
}

/* Template Section */
div.page-border section.templateSection,
div#reviewContent div.templateSection {
    margin: 0 0 30px 0;
    padding: 0px 20px 10px 20px;
    overflow: visible !important;
}

/* Section header */
div.page-border section.templateSection h1 {
    overflow: visible !important;  
    font-weight: bold;
    font-size: 12pt;
    position: relative !important;
    top: -10px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #A0B13A;
    background-color: whitesmoke;
}

div.page-border div.radio input[type="radio"] {
  /*  margin: 0 10px 0 10px; */
    width: 20px;
    height: 20px;
    margin-left: -30px;
    display: inline-block;
    -webkit-box-shadow: none;
}

div.page-border div.checkbox input[type="checkbox"] {
   /* margin: 0 10px 0 10px;*/
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-top: 0px;
    display: inline-block;
    -webkit-box-shadow: none;
}

div.page-border div.form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio label, .checkbox label {
    padding-left: 50px;
    margin-top: 4px;
}

/* Question layer */
div.page-border div.questionLayer,
div#reviewContent div.questionLayer { 
    width:95%;
    margin-bottom:1.5em;
    margin-left:10%;
}

div.page-border div[class*="col-"] div.questionLayer,
div#reviewContent div[class*="col-"] div.questionLayer{
    width:100%;
    margin-left:0;
}

div.page-border div[class*="col-"] div.questionAnswer,
div#reviewContent div[class*="col-"] div.questionAnswer{
    width:100%;
    margin-left:0;
    margin-top:0.75em;
}

div.page-border div.questionAnswer,
div#reviewContent div.questionAnswer { 
    width:100%;
    margin-left:0;
    margin-top:0.75em;
}

div.page-border div.questionLayer:after,
div#reviewContent div.questionLayer:after {
    content: "";
    clear: both;
    display: block;
}

/* Label */
div.page-border div[class*="col-"] div.questionLabel{
    display:block;
    width:100%;
    font-weight:bold;
    float:none;
}

div.page-border div.questionLabel,
body.loadAllPages_false div#reviewContent div.questionLabel {
    display:block;
    width:100%;
    font-weight:bold;
    float:none;
}

/* Pre-required label */
div.page-border div.preRequiredLabel:after,
div#reviewContent div.preRequiredLabel:after { color: red !important; content: "* "; }
div.page-border div.preRequiredLabel div.preRequiredLabel_checkbox:after,
div#reviewContent div.preRequiredLabel div.preRequiredLabel_checkbox:after { content: ""; }

/* Buttons */
div[label="Bottom of Page"] {
    padding: 0px 0px 10px 0px !important;
    margin: 0 !important;
}
div[label="Bottom of Page"] div[label="Save Button"],
div[label="Bottom of Page"] div[label="Cancel Button"] { 
    padding: 2px !important; 
    float: left; 
}

/* Form Controls */
input[type="radio"] { margin: 0 5px 0 10px; }
input[type="checkbox"] { margin: 4px 5px 0 0; }
div.page-border section.templateSection[label="Bottom of Page"] { float: left; margin: 0; padding: 0; }

div.page-border div.templateButtons{
    display:block;
    width:100%;
    text-align:center;
    clear:both;
}

div.page-border div.templateButtonLayer.submitButton,
div.page-border div.templateButtonLayer.previousButton{
    display:none !important;
}

div.page-border div.templateButtons div.templateButtonLayer.submitButton,
div.page-border div.templateButtons div.templateButtonLayer.previousButton{
    display:inline !important;
}

.final div.templateButtonLayer.submitButton input.templateButton{
    background:#158FB8;
}

div.page-border div.templateButtonLayer input.templateButton{
    padding:0.75em 2em;
    min-width:15%;
    font-size:1.5em;
    border-radius:0.5em;
    font-weight:normal;
}



.note{
    font-size: 10pt;
    margin: 0px 20px 0px 20px;
    font-weight: bold;
}

.indentednote{
    margin-right: 20px;
    margin-left:255px;
    font-size: 9pt;
    font-weight: normal;
    color:#222222;
}

.checkboxleft{
    margin-left:-250px;
}

/* File Upload */
a.fileLink {
    margin-right: 0 !important;
    width: 80%;
    display: inline-block;
}

/* Review instructions */
#instructions {
    font-weight: bold;
    color: red;
    display: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}


section.catalog table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0;
}

section.catalog table.dataTable.no-footer {
    border-bottom: 0;
}

/* Responsive */
@media (max-width: 992px) {
    /* Form, confirmation display page */
    div.pageQuestionsForm { padding: 0 10px 10px 10px; }
    /* Template Section */
    div.page-border section.templateSection,
    div#reviewContent div.templateSection { padding: 0 10px 10px 10px; }
    /* Question layer */
    div.page-border div.questionAnswer,
    div#reviewContent div.questionAnswer { margin: 0; }
    /* Label */
    div.page-border div.questionLabel,
    body.loadAllPages_false div#reviewContent div.questionLabel {
        float: none;
        width: auto;
        margin-bottom: 5px;
    }
    /* Form controls */
    input[type="checkbox"],
    input[type="radio"] { margin: 10px 5px 20px 10px; width: 15px; }
}
@media (max-width: 480px) {
    select, 
    textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="tel"], 
    input[type="color"], 
    input[type="search"], 
    .uneditable-input { width: 100%; }
    select { height: 28px; }
    div.page-border div.submitButton {
        margin: 2px 0 0 0;
    }
}

div.page-border section.templateSection.border {
    border-color: #c2c2c2;
    border-radius: 0.4em;
}

div.form-group label {
    font-size: 1.4rem;
}

.button-margin {
    margin-top: 10px;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.templateSection input,
.templateSection select
{
    width: 90%;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/*
div.page-border section.test1 {
	margin: 0 0 30px 0;
    padding: 10px 20px 10px 20px;
    overflow: visible !important;
}

.test1.border {
    border-color: #c2c2c2;
}

.border {
    border-style: solid;
    border-width: 1px;
}

div.page-border section.test1 div.sectionHeader {
    overflow: visible !important;
    font-weight: bold;
    font-size: 12pt;
    position: relative !important;
    top: -20px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    zoom: 1;
}

*/