header{
	text-align:center;
}

div.login-container{
	width: 60em;
    height: 25%;
    margin: 10em auto;
    padding: 2em;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}

div.login-form form{
	padding:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}

div.login-form form input{
	text-align: left;
    width: calc(100% - 2em);
    border-radius: 0.5em;
    border: none;
    box-shadow: inset 0 0 0.5em rgba(0,0,0,0.5);
    font-size: 1em;
    padding: 0.5em 1em;
	outline:none;
}

div.login-form form label{
	font-weight:normal;
	font-size:1em;
}

div.login-form form div.pw-forget{
	text-align:right;
	margin-right:10%;
	margin-bottom:1em;
	font-size:0.85em;
}

div.login-form form button.btn-login{
	width:70%;
	margin-left:10%;
	border-radius:0.5em;
}

div.info-section{
	padding-top:1em;
}

div.info-section div{
	margin-bottom:1em;
}